table{
    background-color: white;
    width: 98%;
    border-radius: 10px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    border: 1px solid rgb(226, 218, 218);
    box-shadow: 1px 3px 0px 0px rgb(228, 225, 225);
    border-collapse: collapse;
    margin-bottom: 20px;

}

thead{
    background-color: #f9fafb;
}
th{
    color: #7f7f80;

}
td{
    border-top: 1px solid rgb(206, 202, 202);
    padding: 1rem;
}
th{
    padding: 1rem;
}
.line-hover{
    transition: .5s;
    cursor: pointer;
}
.line-hover:hover{
    background-color: #e9e8e8;
    transition: .5s;
}

/*-------- boutons -------*/

.btn-plus:hover{
    background-color: rgb(182, 240, 182) !important;
    color: green !important;
}

.btn-moins:hover{
    background-color: rgb(245, 197, 197) !important;
    color: red !important;
    
}